h1 {
    color: rgb(13, 13, 165);
    background-color: rgb(155, 155, 131);
  }

  h2 {
    border-left: 10px solid rgb(37, 29, 29);
    padding: 25px;
    background-origin: padding-box;
  }

  table, th, td {
    border: 1px solid;
  }

  table {
    width: 75%;
  }

  .price {
    text-align: right;
  }

  tr:hover {background-color: rgb(11, 83, 238);}

  table {
    border-collapse: collapse;
  }